[SddmGreeterTheme]
Name=Whiskers Panther
Description=Whiskers color scheme for sddm
Type=sddm-theme
Version=2.1
Website=https://github.com/whiskers-color-scheme/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Whiskers
Theme-API=2.0
License=MIT
QtVersion=6
